<section>
    <div class="product-banner">
        <h2 class="banner-title">Carrito</h2>
        <div class="product-grid">
          <div *ngFor="let producto of productos">
              <img alt="" class="product-image" />
              <div class="product-info">
                <h3 class="product-name"></h3>
                <p class="product-description">{{producto.color}}, {{producto.ram}}, {{producto.storage}}</p>
                <p class="product-price"></p>
              </div>
          </div>
        </div>
      </div>
      
</section>
