

<section class="cart-section">
  <div class="product-banner">
    <h2 class="banner-title">Carrito</h2>
    <div class="product-grid">
      <div *ngFor="let producto of productos" class="product-card">
        <img [alt]="getImageAlt(producto.type)" [src]="getImageSrc(producto.type)" class="product-image" />
        <div class="product-info">
          <h3 class="product-name">{{ getProductName(producto.type) }}</h3>
          <p class="product-description">{{producto.color}}, {{producto.ram}}, {{producto.storage}}</p>
          <p class="product-price">{{producto.price | currency}}</p>
        </div>
        <div class="button-wrapper">
          <button type="submit" class="delete-button" (click)="borrar(producto.id)"><img src="../../../assets/img/trash.png" width="20px" height="25px"></button>
        </div>
      </div>
    </div>
    <div class="bottom-wrapper">
      <button type="submit" class="buy-button" (click)="generarPago()">Comprar</button>
      <button type="submit" class="buy-button" ><a [routerLink]="['/']">Agregar</a></button>
    </div>
  </div>
</section>