<section class="home">
    <div class="producto" id="phone">
        <div class="global-wrapper">
            <div class="general-wrapper">
                <div class="top-wrapper">
                    <h2 class="head">cPhone Max</h2>
                    <p class="subhead">Viví al máximo</p>
                </div>
                <div class="bottom-wrapper">
                    <a [routerLink]="['/cPhone']" class="home-buttons">
                        Conoce más
                    </a>
                    <a class="home-buttons">
                        Comprar
                    </a>
                </div>
            </div>
            <div>
                <img src="../../../assets/img/white-smartphone-mockup-blank-screen-isolated-on-transparent-background-smartphone-mockup-frame-free-png.webp" alt="celu" height="500px" width="500px">
            </div>
        </div>
    </div>
    <div class="producto">

    </div>
    <div class="producto">  

    </div>
</section>