<section class="main">
    <section>
        <div class="global-wrapper-3d">
            <div class="top-wrapper">
                <strong><h2>Un paso mas cerca</h2></strong>
            </div>
            <div id="modelo">
                <spline-viewer url="https://prod.spline.design/8EUkXdjXSJbY4dqB/scene.splinecode"></spline-viewer>
            </div>
            <div class="bottom-wrapper">
                <strong><h2>de vivir al maximo.</h2></strong>
            </div>
        </div>    
    </section>
    <section>
        <div>
            
        </div>
    </section>
</section>



